/* 0A) BASIC -> by convention??? */
*{
    margin: 0;
    padding: 0;
    box-sizing: border_box;
}
/* 0B) GENERAL STYLES */
h1 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;   
  color:white;
}
h2, h3 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;   
  color:white;
}
h4, h5, body, p{
  font-family: "Inter", sans-serif;
  line-height: 18pt;
}
body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
    min-height: 100vh;
}
.line {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin: 5px 0;
}
.red { 
  color: red; 
}
.blue { 
  color: rgb(46, 118, 218); 
}
/* 1) HEADER (simple sticky display (for now))*/
header {
  position: sticky;
  top: 0;
  padding: 16px;
  background: rgb(17, 120, 154);
  display: flex;
  flex-direction: row;
  z-index: 999;
}
.header_logo {
    justify-content: left;
    vertical-align: center;
    display: inline-block;  
}
.header_title {
    margin-left: 16px;
    align-self: center;
    display: inline-block;  
}
img.MAC_logo {
  border-radius: 50%;
}
/* 2) MOCK EXAM BASIC STRUCTURE */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: start;
    border: 5px solid rgb(17, 120, 154);
}
/* 3A) FORM/FILLABLE SECTION */
form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 85%;
    margin-top: 0 auto;
    margin-bottom: 0 auto;
    margin-left: 5%;
    margin-right: 5%;
}
form input {
  width: 100%
}
form button {
  border-radius: 8px;
  text-align: left;
  padding: 8px;
  width: 40%;
  cursor: pointer;
  background: rgb(204, 204, 204);
  border-color: black;
}
/* 3B) IMAGE SEQUENCE - runs automatically*/
.grid-child.green {
  position: sticky;    
  position: -webkit-sticky;
  top: 88px;                  
  align-self: start;
  max-height: calc(100vh - 88px);
  overflow: auto;              
  box-sizing: border-box;
  background: inherit;
  max-height: 78vh;
  top: 0;              
  background: rgb(255, 255, 255); 
  padding: 10px;
} 
.start_button {
  border-radius: 8px;
  text-align: center;
  padding: 8px;
  width: 40%;
  cursor: pointer;
  background: rgb(204, 204, 204);
  border-color: black;
}
.start_instructions_in_green_column {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  text-align: center;
}
.end_instructions_in_green_column {
  margin-left: 16px;
  margin-right: 16px;
  text-align: center;
  color: black;
}
#startScreen {
  width: 43vw;             
  aspect-ratio: 15/11.7;    
  border-radius: 12px;
  box-shadow: 0 0px 10px -3px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  margin: 0 auto 20px auto;
  display: flex;   
  flex-direction: column;       
  justify-content: center;
  align-items: center;
}
#exam-image {
  width: 43vw;
  aspect-ratio: 15/11.7; 
  align-items: center;
  border-radius: 12px;
  margin: 0 auto 20px auto;
  box-shadow: 0 0px 10px -3px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  display: none;
}
#finished-screen {
  width: 43vw;             
  aspect-ratio: 15/11.7;    
  border-radius: 12px;
  box-shadow: 0 0px 10px -3px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  margin: 0 auto 20px auto;    
  vertical-align: middle;
  display: none; 
  justify-content: center; 
  align-items: center;       
  text-align: center;
}
/* 4) FOOTER */
footer {
  bottom: 0;
  padding: 10px;
  background: rgb(17, 120, 154);
  display: flex;
  flex-direction: column;
  z-index: 999;
}